<h1>Angular 11 template inheritance strategies example</h1>
<hr />

<div style="color: red">
  <h1>Abstract class inheritance</h1>

  <app-abstract-class-inheritance></app-abstract-class-inheritance>
</div>

<hr/>

<div style="color: green">
  <h1>Abstract directive inheritance</h1>

  <app-abstract-directive-inheritance></app-abstract-directive-inheritance>
</div>

<hr/>

<div style="color: red">
  <h1>Abstract component inheritance</h1>

  <app-abstract-component-inheritance></app-abstract-component-inheritance>
</div>
