<h1>Angular 11 template inheritance strategies example</h1>
<hr/>

<div class="wrong">
  <h1>Abstract class inheritance</h1>

  <app-abstract-class-inheritance></app-abstract-class-inheritance>
</div>

<hr/>

<div class="wrong">
  <h1>Abstract component inheritance</h1>

  <app-abstract-component-inheritance></app-abstract-component-inheritance>
</div>

<hr/>

<div class="wrong">
  <h1>Component extension example</h1>

  <app-parent name="Parent component"></app-parent>
  <app-child name="Child component"></app-child>
</div>

<hr/>

<div class="right">
  <h1>Abstract directive inheritance</h1>

  <app-abstract-directive-inheritance></app-abstract-directive-inheritance>
</div>

